.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: $primary-color;
    @include text-color($primary-color,$dark-color,$light-color)
}