
form{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    i{
        color: $dark-color;
    }
    input[type="search"]{
        font-weight: bold;
        color: black;
        height: 100%;
        width: 70%;
        text-align: center;
        border: none;
        outline: none;
        background-color: $light-grey;
        font-size: map-get($base-font-size, normal);
        &::placeholder{
            color: $dark-color;
        }
        
      
    }
}