@media (min-width:1024px) {

    //?-- Layout --//
    .header{
        height: 5em;
    }
    .footer-container{
        flex-direction: row-reverse;
        align-items: center;
        h3{
            position: relative;
            top: 20px;
            right: 25px;
        }
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            width: 65%;
            position: relative;
            top: 30px;
            right: 2%;
        }
        a{
            margin-bottom: 12px;
        }
    }

    //? -- Container Location --//
    .location-container{
        box-shadow: none;
    }

    //?-- Container Accueil --//
    .explore-container{
        h2{
            font-size: map-get($base-font-size, big );
        }
    }
    .fonctionnement-container{
        & > div{
            flex-direction: row;
            width: 100%;
            align-items: center;
            justify-content: space-evenly;
        }

        & h2{
            margin-left: 2vw;
        }
    }
    .restaurants-container{
        & > div{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows:repeat(2, 1fr);
            grid-gap: 20px;
            place-items: center;
        }
        & h2{
            margin-left: 1vw;
        }
   
    }

    //?-- Container Restaurant --//
    .restaurant-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &__menu{
            width: 80%;
            &__tittle{
                width: 100%;
                display: flex;
                justify-content: center;
                h1{
                    margin-right: 12%;
                }
            &__icons{
                margin-right: 20%;
            }
            }
         
            &__box h3{
                margin-left: 17%;
            }
    }
     
    }

    //?-- Card ---//
    .card{
        &__fonctionnement{
            width: 20em;
            height: 4em;
        }

        &__restaurant{
            width: 37vw;
            height:270px;
            img{
                height: 200px;
            }
          
            p{
                margin: 0;
                margin-top: .6em;
            }
        }
        &__menu{
            width: 65%;
          
            &:hover span{
                transform: translateX(-4.5em);          
            }
        }
   
    }
  
}