
.footer-container{
    background-color: $dark-grey;
    @include text-color($dark-grey,$light-color,$dark-color);
    display: flex;
    flex-direction: column;
    padding:0em 0 3em 2em;
   
    h3{
        font-family: Shrikhand;
        font-size: map-get($base-font-size, large-x );
        font-weight: 400;
        font-style: italic;
        margin-bottom:10px;

    }
   
    ul{

        li{
            display: flex;
            align-items: center;
            line-height: 1px;
            svg{
                padding-right: 10px;
            }
            a{
                margin-top: 12px;
            }
        }
    }

   
}